providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "G:\\apmeneel\\workspaces\\ruby-workspace\\project spider monkey"
          source: "G:\\apmeneel\\workspaces\\ruby-workspace\\project spider monkey\\.build-tools.cson"
          name: "rake"
          command: "rake.bat"
          wd: "."
          env: {}
          modifier: {}
          stdout:
            highlighting: "nh"
          stderr:
            highlighting: "nh"
          output:
            console:
              close_success: false
              queue_in_buffer: true
          version: 1
        }
      ]
  }
]
