body {
  font-family: Lora;
  font-size: 10pt;
  line-height: 1.1;
}

p {
  margin-top: 0;
  margin-bottom: 0.2em;
  text-indent: 1em;
}

table {
  font-size: inherit;
  page-break-inside: avoid;
}

th,td {
  border: 1px solid black;
}

ul {
	list-style: disc;
  margin-top: 0;
  margin-bottom: 0;
}

ol {
  list-style-type: decimal;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-family: Alfa Slab One,Sans;
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.1em;
}

h1 {
  font-family: Alfa Slab One,Sans;
  font-weight: bolder;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  text-align: center;
}

h2 {
  font-family: Sans-Serif;
  font-weight: bold;
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-bottom: 0;
}

h3 {
  font-family: Sans-Serif;
  font-weight: bold;
  font-size: 1.0em;
  margin-bottom: 0;
}

.clear-both {
  clear: both;
}

blockquote {
  margin-left: 15pt;
  border-left: 3pt double #000;
  padding-left: 10pt;
  font-size: 90%;
}

.tip {
  margin-left: 15pt;
  border-left: 3pt double #888888;
  padding-left: 2pt;
}

.pagebreak{
  page-break-after: always;
}

ul {
  list-style-type: disc;
}
