
<html>
<head>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="reset.css"> -->
    <link rel="stylesheet" href="squib.css">
    <link rel="stylesheet" href="rebuild.css">
</head>
<body>

<%= File.read "docs/RULES.md.html" %>

</body>
</html>
